*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-align: inherit;
}
