.root {
  flex: 1 1 auto;
  max-width: 825px;
}

.none {
  display: none;
}

.loading {
  opacity: 0.5;
}

.notDetected {
  color: var(--gblack40);
  text-align: center;
  padding-top: 200px;
}

.booking {
  max-width: 166px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 23px;
  margin-bottom: 8px;
  margin-top: 19px;
  font: var(--font-btn-s-mobile);
}

.settings {
  margin-bottom: 16px;
  display: flex;
  max-height: 38px;
}

.settingsOpen {
  max-height: 100%;
}

.sortTags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sortTag {
  justify-content: space-between;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  font: var(--font-body-s-mobile);
  max-width: 180px;
  width: 100%;
  border-radius: 16px;
  height: 26px;
  border: 1px solid var(--gblack30);
  background: var(--light);

  svg {
    fill: var(--dark);
    max-width: 14px;
    max-height: 14px;
    transition: fill 0.3s;
  }

  &:hover {
    svg {
      fill: var(--btn-pressed-rgb);
    }
  }
}

.cards {
  margin-top: 22px;
  display: grid;
}

.tile {
  grid-template-columns: repeat(auto-fit, minmax(min-content, 190px));
  gap: 24px 21.5px;
  grid-auto-rows: 470px;
}

.list {
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 16px 0;
  grid-auto-rows: min-content;
}

@media (max-width: 768px) {
  .settings {
    margin-bottom: 24px;
  }

  .tile {
    gap: 32px 35px;
  }

  .list {
    gap: 16px 0;
  }
}

@media (max-width: 320px) {
  .settings {
    max-height: 32px;
    margin-bottom: 19px;
  }

  .booking {
    max-width: 256px;
    margin-top: auto;
    margin-bottom: 0;
  }

  .tile {
    gap: 16px 0;
    grid-template-columns: 1fr;
  }
}
