.root {
  position: fixed;
  top: 65px;
  width: 100%;
  max-width: inherit;
  padding: 23px 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 50;

  img {
    display: inline;
  }

  span {
    margin-left: 24px;
    font: var(--font-sub-l);
  }

  button {
    margin-left: auto;
    width: 24px;
    height: 24px;

    svg {
      fill: var(--dark);
      width: 100%;
      height: 100%;
    }
  }
}

.error {
  border: 1.5px solid var(--negative);
  background: var(--negative-back);
}

.success {
  background: var(--positive-back);
  border: 1.5px solid var(--positive);
}

.container {
  max-width: 1100px;
  padding: 0;
  position: relative;
}

@media (max-width: 720px) {
  .root {
    max-width: 640px;
  }
}

@media (max-width: 320px) {
  .root {
    max-width: 280px;
  }
}
