.root {
  width: 100%;
  padding: 14px 0;
  font: var(--font-btn-l);
  margin-bottom: 16px;
  margin-top: 32px;
}

@media (max-width: 370px) {
  .root {
    font: var(--font-btn-s-mobile);
    padding: 11px 0;
  }
}
